[submodule "MSI-Keyboard-Typing-Speed"]
	path = MSI Keyboard Typing Speed
	url = https://github.com/Bewenben/MSI-Keyboard-Typing-Speed.git
[submodule "HTML-CSS-JS-Course"]
	path = HTML & CSS & JS Course
	url = https://github.com/Bewenben/HTML-CSS-JS-Course.git
[submodule "DemoProject1"]
	path = Demo Project Frontend 1
	url = https://github.com/Bewenben/DemoProject1.git
[submodule "ReactCourse"]
	path = React Course freecodecamp
	url = https://github.com/Bewenben/ReactCourse.git
[submodule "IEEE AAST/frontend"]
	path = IEEE AAST/Front-end
	url = https://github.com/IEEEAAST/frontend.git
