[submodule "MSI-Keyboard-Typing-Speed"]
	path = MSI Keyboard Typing Speed
	url = https://github.com/Bewenben/MSI-Keyboard-Typing-Speed.git
[submodule "HTML-CSS-JS-Course"]
	path = HTML & CSS & JS Course
	url = https://github.com/Bewenben/HTML-CSS-JS-Course.git
